        <script type="text/javascript">
         function toggle(id) {
             var e = document.getElementById(id);
             e.style.display == 'block' ? e.style.display = 'none' : e.style.display = 'block';
         }
        </script>
        <script src="https://unpkg.com/mermaid@7.0.4/dist/mermaid.min.js"></script>
        <script>mermaid.initialize({startOnLoad:true});</script>
        <script src="{{ .Site.BaseURL }}/stork/stork.js"></script>
        <script>
            stork.initialize("{{ .Site.BaseURL}}/stork/stork.wasm");
            stork.register("federalist", "{{ .Site.BaseURL }}/federalist.st");
        </script>
    </body>
</html>
