{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <div class="container">
        <div class="row">
            <div class="sixteen columns">
                <style>
                 .li-rss:hover:after{content:'を購読する';font-size: 30%}
                </style>
                <h1 class="li-rss"><a href="{{.Permalink }}index.xml">{{.Title}}</a></h1>
                <ul class="li-article-list">
                    {{ range .Data.Pages }}
                    <li>
                        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                        {{ partial "meta.html" .}}
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
