   .reveal {
     font-size: 36px;
     font-weight: normal;
     letter-spacing: -0.02em; }

   .reveal .controls div.navigate-left,
   .reveal .controls div.navigate-left.enabled {
     border-right-color: #888; }

   .reveal .controls div.navigate-right,
   .reveal .controls div.navigate-right.enabled {
     border-left-color: #888; }

   .reveal .controls div.navigate-up,
   .reveal .controls div.navigate-up.enabled {
     border-bottom-color: #888; }

   .reveal .controls div.navigate-down,
   .reveal .controls div.navigate-down.enabled {
     border-top-color: #888; }

   .reveal .controls div.navigate-left.enabled:hover {
     border-right-color: #000; }

   .reveal .controls div.navigate-right.enabled:hover {
     border-left-color: #000; }

   .reveal .controls div.navigate-up.enabled:hover {
     border-bottom-color: #000; }

   .reveal .controls div.navigate-down.enabled:hover {
     border-top-color: #000; }
   #header{
     margin-bottom: 0px;
     padding: 10px;
   }
   #footer{
     clear:both;
     display:block;
     position:absolute;
     bottom:0;
     width: 100%;
     padding: 0px;
   }

