<!doctype html>
<html lang="ja">

  <title>{% if page.title %}{{ page.title }} {% else %}{{site.subtitle}} {% endif %} | {{ site.title }}</title>

  <meta name="author" content="{{ site.author }}"> 
  {% capture description %}{% if page.description %}{{ page.description }}{% elsif site.description %}{{ site.description }}{%else%}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}"> {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{%else%}<meta name="keywords" content="{{ site.keywords }}">{% endif %}

  <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
  <link rel="canonical" href="{{ canonical }}">
  <link href="{{ root_url }}/favicon.png" rel="shortcut icon">
  <meta charset="utf-8">

  <meta name="author" content="{{ site.author }}">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="{{ root_url }}/reveal.js/css/reveal.min.css">
  <!-- <link rel="stylesheet" href="{{ root_url }}/reveal.js/css/theme/default.css" id="theme"> -->
  <link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <!-- my theme that cooperate with cleanpress -->
  <link href="{{ root_url }}/stylesheets/cleanveal.css" media="screen, projection" rel="stylesheet" type="text/css">

  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="{{ root_url }}/reveal.js/lib/css/zenburn.css">

  <!-- If the query includes 'print-pdf', include the PDF print sheet -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>
   if( window.location.search.match( /print-pdf/gi ) ) {
     var link = document.createElement( 'link' );
     link.rel = 'stylesheet';
     link.type = 'text/css';
     link.href = '{{ root_url }}/reveal.js/css/print/pdf.css';
     document.getElementsByTagName( 'head' )[0].appendChild( link );
   }
  </script>

  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->
	{% include custom/head.html %}
	</head>

	<body>
          <header id="header" class="inner"><nav id="sub-nav">{% include custom/social.html %}</nav></header>
          <div class="reveal">
            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">
              {% if page.format == 'html' %}
              {{ content }}
              {% else %}
              <section data-markdown
                       data-separator="\n\n"
                       data-vertical="\n\n"
                       data-notes="^Note:">
                <script type="text/template">
                  {{ content }}
                </script>
              </section>
              {% endif %}
            </div>
          </div>
          <footer id="footer">{% include custom/footer.html %}</footer>

	  <script src="{{ root_url }}/reveal.js/lib/js/head.min.js"></script>
	  <script src="{{ root_url }}/reveal.js/js/reveal.min.js"></script>

	  <script>

	   // Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
	   Reveal.initialize({
	     controls: true,
	     progress: true,
	     history: false,
	     center: true,
             slideNumber: true,

//	     theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
	     transition: Reveal.getQueryHash().transition || 'none', // default/cube/page/concave/zoom/linear/fade/none

	     // Parallax scrolling
	     // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
	     // parallaxBackgroundSize: '2100px 900px',

	     // Optional libraries used to extend on reveal.js
	     dependencies: [
	       { src: '{{ root_url }}/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
	       { src: '{{ root_url }}/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
	       { src: '{{ root_url }}/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
	       { src: '{{ root_url }}/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
	       { src: '{{ root_url }}/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
	       { src: '{{ root_url }}/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
	     ]
	   });

	  </script>

	</body>
</html>
