{{ partial "slide/head.html" . }}
{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}
{{ $categories := .Params.categories }}
{{ $tags := .Params.tags }}

<article id="article-container" class="li-article" style="height: 100%">
    <header id="article-header" class="li-article-header" style="position:fixed;z-index:10;">
        <h1 class="li-article-title">{{ .Title }}</h1>
        {{ partial "meta.html" .}}
    </header>
    <div class="reveal">
        <div class="slides">
            {{ .Content }}
        </div>
    </div>
</article>

{{ partial "slide/footer.html" . }}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{{ partial "tail.html" . }}

<script>
 window.onload = 
     // insert header to the first (title) slide
     (function(document, Reveal) {
         return function() {
             var page_header = document.getElementById("page-header");
             var article_header = document.getElementById("article-header");


             function displayHeader() {
                 article_header.style.display = "block";
                 page_header.style.display = "block";

             }
             function hideHeader() {
                 article_header.style.display = "none";
                 page_header.style.display = "none";
             }
             Reveal.addEventListener( 'slidechanged', function( event ) {
                 if (event.indexh === 0 && event.indexv === 0) {
                     displayHeader();
                 } else {
                     hideHeader();
                 }
             } );

         }
     })(document, Reveal);
</script>
