{{ partial "slide/head.html" . }}
{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseUrl }}
{{ $categories := .Params.categories }}
{{ $tags := .Params.tags }}

<div class="container" style="height: calc(100% - 94px)">
    <div class="row" style="height: 100%">
        <div class="sixteen columns" style="height: 100%">
            <article class="li-article" style="height: 100%">
                <header class="li-article-header" style="position:fixed">
                    <h1 class="li-article-title">{{ .Title }}</h1>
                    {{ partial "meta.html" .}}
                </header>
                <div class="reveal">
                    <div class="slides">
                        {{ .Content }}
                    </div>
                </div>
            </article>
        </div>
    </div>

    {{ partial "author.html" .}}

</div>

{{ partial "slide/footer.html" . }}
{{ partial "tail.html" . }}
