{{ partial "head.html" . }}
{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}
{{ $categories := .Params.categories }}
{{ $tags := .Params.tags }}

<article id="article-container" class="li-article" style="height: 100%">
    <header id="article-header" class="li-article-header">
        <h1 class="li-article-title">{{ .Title }}</h1>
        {{ partial "meta.html" .}}
    </header>
    <div id="pdf-viewer-wrap" style="width: 100%">
        <canvas id="pdf-viewer-canvas"></canvas>
        <div>
            <button id="pdf-viewer-prev">←</button>
            <div style="display:inline"><input style="width:2.5em;text-align:right;" id="pdf-viewer-current-page">/<span id="page_count"></span></div>
            <button id="pdf-viewer-next">→</button>
        </div>
        <a href="{{ .Params.pdf }}">View PDF</a>
    </div>
</article>

{{ partial "slide/footer_pdf.html" . }}
{{ partial "tail.html" . }}

