.reveal {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -0.02em; }

.reveal .state-background{
    background: rgba(255, 255, 255, 0.8);
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);}

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
    border-right-color: #999; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
    border-left-color: #999; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
    border-bottom-color: #999; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
    border-top-color: #999; }

.reveal .controls div.navigate-left.enabled:hover {
    border-right-color: #000; }

.reveal .controls div.navigate-right.enabled:hover {
    border-left-color: #000; }

.reveal .controls div.navigate-up.enabled:hover {
    border-bottom-color: #000; }

.reveal .controls div.navigate-down.enabled:hover {
    border-top-color: #000; }

.reveal .progress span{
    background-color: black;
}

.reveal h1{
    font-size: 2.5em;
}
.reveal pre {
    font-size: 36px;
    overflow: hidden;
}

.reveal pre code {
    max-height: 640px;
}
