.reveal div {
    font-size: 40px;
    font-weight: normal;
}

.reveal .state-background {
    background: rgba(255, 255, 255);
}

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
    border-right-color: #999; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
    border-left-color: #999; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
    border-bottom-color: #999; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
    border-top-color: #999; }

.reveal .controls div.navigate-left.enabled:hover {
    border-right-color: #000; }

.reveal .controls div.navigate-right.enabled:hover {
    border-left-color: #000; }

.reveal .controls div.navigate-up.enabled:hover {
    border-bottom-color: #000; }

.reveal .controls div.navigate-down.enabled:hover {
    border-top-color: #000; }

.reveal .progress span{
    background-color: black;
}

.reveal h1 {
    --title-font-size: 2.5em;
    font-size: var(--title-font-size);
}
.reveal pre {
    /* font-size: 36px; */
    overflow: hidden;
}

.reveal pre code {
    max-height: 480px;
    font-family: 'monospace';
}

.slides ol, .slides ul {
    list-style-position:inside;
    text-align: left;
    line-height: 150%;
}

.slides ul > li {
    margin-left: 0.7em;
}
.slides pre {
    text-align: left;
}

.slides blockquote {
    text-align: left;
}

.reveal td, .reveal th {
    padding: 8px;
}
